.destaques__secundario {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  grid-column-start: 4;
}

.destaques__secundario:nth-child(2) {
  background-image: url("../../img/pubg.jpg");
}

.destaques__secundario:nth-child(3) {
  background-image: url("../../img/slack.png");
}

.destaques__secundario:nth-child(4) {
  background-image: url("../../img/whatsapp.png");
}

.destaques__secundario:nth-child(5) {
  background-image: url("../../img/cs-go.jpg");
}

@media screen and (min-width: 0) {
  .destaques__secundario.caixa {
    display: none;
    grid-column: none;
    grid-row: none;
  }
}

@media screen and (min-width: 768px) {
  .destaques__secundario:nth-child(2) {
    display: flex;
    grid-column: 4;
    grid-row: 1;
  }
  
  .destaques__secundario:nth-child(3) {
    display: flex;
    grid-column: 4;
    grid-row: 2;
  }
  
  .destaques__secundario:nth-child(4) {
    display: flex;
    grid-column: 4;
    grid-row: 3;
  }
  
  .destaques__secundario:nth-child(5) {
    display: flex;
    grid-column: 3;
    grid-row: 3;
  }
}