.populares__card___corpo {
  display: grid;
  grid-template-areas:
    "card-cabecalho"
    "card-conteudo"
  ;
  grid-template-rows: 50px auto;
  grid-area: card-corpo;
  grid-row-gap: .5rem;
  padding: .75rem;
}